.header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);
  color: var(--text-color);
  transition: all 0.2s;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}
