.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--task-bg);
  margin-bottom: 12px;
  border-radius: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &__row {
    display: flex;
    align-items: center;
    max-width: 85%;
  }

  &__btn {
    background-color: transparent;
    display: inline-block;
    margin-right: 10px;
    color: var(--text-colo);

    &:last-child {
      margin-right: 0;
    }
  }

  &__completedBtn {
    margin-top: 3px;
    margin-right: 15px;
  }

  &__info {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    line-height: 22px;
  }
}
