.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--task-bg);
  margin-bottom: 12px;
  border-radius: 8px;

  &__btn {
    background-color: transparent;
    display: inline-block;
    margin-right: 10px;
    color: var(--text-color);
    transition: all 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__deleteBtn:hover {
    color: red;
  }
}

