body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body[data-theme='light'] {
  --header-bg: #c4c4c4;
  --text-color: #000;
  --main-bg: #c4c4c47b;
  --input-bg: #d8d8d8;
  --btn-bg: #bdbdbd;
  --task-bg: #9595957b;
  --popup-bg: #aeaeae7b;
  --taskInput-bg: rgb(163, 163, 163);
}

body[data-theme='dark'] {
  --header-bg: #0d0d0d;
  --text-color: #f2f2f2;
  --main-bg: #1a1a1a;
  --input-bg: #262626;
  --btn-bg: #ffffff;
  --task-bg: #333333;
  --popup-bg: #262626;
  --taskInput-bg: #434343;
}
